In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../us_migration.csv")
df = df.fillna(0)
df = df.replace(np.nan, 0)
df.head()

,sending,sending_citizen_unspecified,sending_citizenship_unknown,sending_household_not_owned,sending_household_owned,sending_household_owned_unknown,sending_indigeneity,sending_internet,sending_internet_unknown,sending_marriage_unknown,...,sending_unknown_employment_status,sending_unknown_indigeneity,sending_unpaid_worker,sending_urban,sending_weighted_avg_income,sending_weighted_avg_income_abroad,sending_weighted_avg_no_income_abroad,sending_weighted_avg_unknown_income_abroad,sending_widowed,US_MIG_05_10
0,10001,1134.995083,243.827586,1178.209016,1106.832815,736.562500,918.960526,2111.233685,347.698113,576.362069,...,1218.357143,840.339623,0,1597.239059,1124.200953,768.788518,1213.505104,1931.825000,460.430041,961
1,10002,917.067746,600.000000,1274.160656,795.118020,-1.000000,-1.000000,1988.103175,459.166667,342.800000,...,535.750000,576.379310,0,-1.000000,908.782316,720.767123,929.317603,845.567568,745.377359,154
2,10003,637.977315,557.150000,729.454795,610.791414,468.392857,584.454545,1310.462428,514.312500,3800.000000,...,540.000000,629.215385,0,-1.000000,628.585520,486.116034,738.533015,-1.000000,276.569767,905
3,10004,1178.378744,1678.562500,1560.244328,1084.109969,785.742857,1165.943463,2109.431851,1043.500000,549.695652,...,771.400000,694.579439,0,1436.934837,1173.751889,861.385645,1219.547797,1643.137255,741.363985,225
4,10005,2231.128863,2916.538705,2104.943216,2278.834178,2353.519005,2527.268790,3075.771459,1941.578834,650.206897,...,1531.622086,2064.311411,0,2319.113608,2230.022635,1672.340116,2273.630651,3946.180995,1241.236982,1071

In [3]:
var_cols = [i for i in df.columns if i not in ['sending', 'US_MIG_05_10']]
var_cols = var_cols[0:27]

for i in var_cols:
    df[i] = df[i] / max(df[i])
    
    
df = df.replace(np.nan, 0)
df.head()

,sending,sending_citizen_unspecified,sending_citizenship_unknown,sending_household_not_owned,sending_household_owned,sending_household_owned_unknown,sending_indigeneity,sending_internet,sending_internet_unknown,sending_marriage_unknown,...,sending_unknown_employment_status,sending_unknown_indigeneity,sending_unpaid_worker,sending_urban,sending_weighted_avg_income,sending_weighted_avg_income_abroad,sending_weighted_avg_no_income_abroad,sending_weighted_avg_unknown_income_abroad,sending_widowed,US_MIG_05_10
0,10001,0.150751,0.018965,0.171931,0.139384,0.011048,0.084757,0.094735,0.011590,0.052811,...,0.085285,0.034709,0.0,0.095834,0.147878,0.089696,0.157209,1931.825000,460.430041,961
1,10002,0.121806,0.046667,0.185933,0.100130,-0.000015,-0.000092,0.089210,0.015306,0.031410,...,0.037503,0.023807,0.0,-0.000060,0.119542,0.084094,0.120393,845.567568,745.377359,154
2,10003,0.084737,0.043334,0.106446,0.076917,0.007026,0.053905,0.058803,0.017144,0.348185,...,0.037800,0.025989,0.0,-0.000060,0.082684,0.056716,0.095677,-1.000000,276.569767,905
3,10004,0.156513,0.130556,0.227680,0.136523,0.011786,0.107537,0.094654,0.034783,0.050367,...,0.053998,0.028689,0.0,0.086216,0.154396,0.100500,0.157992,1643.137255,741.363985,225
4,10005,0.296340,0.226844,0.307166,0.286975,0.035303,0.233094,0.138015,0.064719,0.059577,...,0.107214,0.085264,0.0,0.139147,0.293338,0.195116,0.294548,3946.180995,1241.236982,1071

In [4]:
match = pd.read_csv("./MEX/gB_IPUMS_match.csv")
match = match[['shapeID', 'MUNI2015']]
match.head()

                  shapeID  MUNI2015
0  MEX-ADM2-1590546715-B1      1002
1  MEX-ADM2-1590546715-B2      1011
2  MEX-ADM2-1590546715-B3      1007
3  MEX-ADM2-1590546715-B4      1008
4  MEX-ADM2-1590546715-B5      1005

In [5]:
ref_dict = dict(zip(match['shapeID'], match['MUNI2015']))

In [6]:
dist_df = pd.read_csv("./MEX/closest_polygons.csv")
dist_df = dist_df[0:5]
dist_df.head()

,shapeID,closest0,closest1,closest2,closest3,closest4,closest5,closest6,closest7
0,MEX-ADM2-1590546715-B1,MEX-ADM2-1590546715-B2,MEX-ADM2-1590546715-B6,MEX-ADM2-1590546715-B7,MEX-ADM2-1590546715-B8,MEX-ADM2-1590546715-B9,MEX-ADM2-1590546715-B3,MEX-ADM2-1590546715-B5,MEX-ADM2-1590546715-B11
1,MEX-ADM2-1590546715-B2,MEX-ADM2-1590546715-B1,MEX-ADM2-1590546715-B5,MEX-ADM2-1590546715-B7,MEX-ADM2-1590546715-B8,MEX-ADM2-1590546715-B6,MEX-ADM2-1590546715-B9,MEX-ADM2-1590546715-B3,MEX-ADM2-1590546715-B4
2,MEX-ADM2-1590546715-B3,MEX-ADM2-1590546715-B4,MEX-ADM2-1590546715-B6,MEX-ADM2-1590546715-B8,MEX-ADM2-1590546715-B11,MEX-ADM2-1590546715-B1,MEX-ADM2-1590546715-B2,MEX-ADM2-1590546715-B5,MEX-ADM2-1590546715-B7
3,MEX-ADM2-1590546715-B4,MEX-ADM2-1590546715-B3,MEX-ADM2-1590546715-B5,MEX-ADM2-1590546715-B8,MEX-ADM2-1590546715-B10,MEX-ADM2-1590546715-B2,MEX-ADM2-1590546715-B6,MEX-ADM2-1590546715-B11,MEX-ADM2-1590546715-B7
4,MEX-ADM2-1590546715-B5,MEX-ADM2-1590546715-B2,MEX-ADM2-1590546715-B4,MEX-ADM2-1590546715-B7,MEX-ADM2-1590546715-B8,MEX-ADM2-1590546715-B10,MEX-ADM2-1590546715-B3,MEX-ADM2-1590546715-B1,MEX-ADM2-1590546715-B9

In [7]:
for i in dist_df.columns:
    dist_df[i] = dist_df[i].map(ref_dict)
    
dist_df.head()

,shapeID,closest0,closest1,closest2,closest3,closest4,closest5,closest6,closest7
0,1002,1011,1009,1001,1006,1010,1007,1005,1004
1,1011,1002,1005,1001,1006,1009,1010,1007,1008
2,1007,1008,1009,1006,1004,1002,1011,1005,1001
3,1008,1007,1005,1006,1003,1011,1009,1004,1001
4,1005,1011,1008,1001,1006,1003,1007,1002,1010

In [12]:
file_num = 0

for col, row in dist_df.iterrows():
    
    print("Municipality: ", row['shapeID'])
    
    all_vals = []
    
    for col_name in var_cols:
        tmp_vals = []
        for i in row:
            cur_dta = df[df['sending'] == i]
            if len(cur_dta) != 0:
                cur_val = list(cur_dta[col_name])[0]
                tmp_vals.append(cur_val)
            else:
                cur_val = 0
                tmp_vals.append(cur_val)
        all_vals.append(tmp_vals)

    
    ar_vals = []    
    [ar_vals.append(np.reshape(np.array(i), (3,3))) for i in all_vals]


    n = 3
    indices = [i for i in range(len(ar_vals))]
    indices = [indices[i:i + n] for i in range(0, len(indices), n)]
    final_dta = []

    for i in indices:
        tmp = np.hstack([ar_vals[i[0]], ar_vals[i[1]], ar_vals[i[2]]])
        final_dta.append(tmp)
        
    fname = str(row['shapeID']) + ".txt"
    np.savetxt(fname, np.reshape(np.array(final_dta), (27,9)))
    
    file_num += 1

Municipality:  1002
Municipality:  1011
Municipality:  1007
Municipality:  1008
Municipality:  1005